In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
%matplotlib inline
stock_prices = pd.read_csv("stock_prices_latest.csv")

In [3]:
stock_prices = stock_prices.dropna()
stock_prices

,symbol,date,open,high,low,close,close_adjusted,volume,split_coefficient
0,MSFT,2016-05-16,50.80,51.96,50.7500,51.83,49.7013,20032017,1.0
1,MSFT,2002-01-16,68.85,69.84,67.8500,67.87,22.5902,30977700,1.0
2,MSFT,2001-09-18,53.41,55.00,53.1700,54.32,18.0802,41591300,1.0
3,MSFT,2007-10-26,36.01,36.03,34.5600,35.03,27.2232,288121200,1.0
4,MSFT,2014-06-27,41.61,42.29,41.5100,42.25,38.6773,74640000,1.0
...,...,...,...,...,...,...,...,...,...
23528430,FATE,2020-11-04,45.92,51.00,43.1101,49.82,49.8200,1275276,1.0
23528431,FATE,2020-11-10,50.28,52.97,49.7000,52.61,52.6100,923331,1.0
23528432,FATE,2020-11-09,49.41,52.48,48.1000,50.69,50.6900,795234,1.0
23528433,FATE,2020-11-12,53.52,54.63,51.1000,51.98,51.9800,634022,1.0
23528434,FATE,2020-11-06,51.12,51.15,47.2000,48.28,48.2800,586830,1.0

In [5]:
nasdaq_sectors = pd.read_csv("nasdaq-companies.csv", sep=';')
nasdaq_sectors

,Symbol,Name,LastSale,MarketCap,ADR TSO,IPOyear,Sector,Industry,Summary Quote
0,AMSWA,"American Software, Inc.",10.1600,2.994201e+08,NaN,NaN,Technology,Computer Software: Prepackaged Software,http://www.nasdaq.com/symbol/amswa
1,JASNW,"Jason Industries, Inc.",0.0473,0.000000e+00,NaN,2013.0,Consumer Durables,Miscellaneous manufacturing industries,http://www.nasdaq.com/symbol/jasnw
2,MU,"Micron Technology, Inc.",28.4300,3.135123e+10,NaN,NaN,Technology,Semiconductors,http://www.nasdaq.com/symbol/mu
3,ICBK,"County Bancorp, Inc.",28.4400,1.865702e+08,NaN,2015.0,Finance,Major Banks,http://www.nasdaq.com/symbol/icbk
4,DTEA,DAVIDsTEA Inc.,7.6000,1.901521e+08,NaN,2015.0,Consumer Non-Durables,Food Chains,http://www.nasdaq.com/symbol/dtea
...,...,...,...,...,...,...,...,...,...
3189,JXSB,Jacksonville Bancorp Inc.,30.7500,5.540231e+07,NaN,NaN,Finance,Savings Institutions,http://www.nasdaq.com/symbol/jxsb
3190,KVHI,"KVH Industries, Inc.",8.1000,1.369102e+08,NaN,1996.0,Technology,Radio And Television Broadcasting And Communic...,http://www.nasdaq.com/symbol/kvhi
3191,CPST,Capstone Turbine Corporation,0.7600,2.715101e+07,NaN,2000.0,Energy,Industrial Machinery/Components,http://www.nasdaq.com/symbol/cpst
3192,CBSH,"Commerce Bancshares, Inc.",54.9800,5.595854e+09,NaN,NaN,Finance,Major Banks,http://www.nasdaq.com/symbol/cbsh
3193,ENG,ENGlobal Corporation,1.7201,4.676966e+07,NaN,NaN,Consumer Services,Military/Government/Technical,http://www.nasdaq.com/symbol/eng

In [8]:
nasdaq_stocks = pd.read_csv("nasdaq_stocks.csv")
nasdaq_stocks

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
0,Y,A,"Agilent Technologies, Inc. Common Stock",N,,N,100.0,N,NaN,A,A,N
1,Y,AA,Alcoa Corporation Common Stock,N,,N,100.0,N,NaN,AA,AA,N
2,Y,AAAU,Perth Mint Physical Gold ETF,P,,Y,100.0,N,NaN,AAAU,AAAU,N
3,Y,AACG,ATA Creativity Global - American Depositary Sh...,Q,G,N,100.0,N,N,NaN,AACG,N
4,Y,AADR,AdvisorShares Dorsey Wright ADR ETF,P,,Y,100.0,N,NaN,AADR,AADR,N
...,...,...,...,...,...,...,...,...,...,...,...,...
8044,Y,ZUO,"Zuora, Inc. Class A Common Stock",N,,N,100.0,N,NaN,ZUO,ZUO,N
8045,Y,ZVO,Zovio Inc. - Common Stock,Q,Q,N,100.0,N,N,NaN,ZVO,N
8046,Y,ZYME,Zymeworks Inc. Common Shares,N,,N,100.0,N,NaN,ZYME,ZYME,N
8047,Y,ZYNE,"Zynerba Pharmaceuticals, Inc. - Common Stock",Q,G,N,100.0,N,N,NaN,ZYNE,N
8048,Y,ZYXI,"Zynex, Inc. - Common Stock",Q,S,N,100.0,N,N,NaN,ZYXI,N

In [17]:
#nasdaq_sectors = nasdaq_sectors.drop(columns = ['Name', 'LastSale', 'MarketCap', 'ADR TSO', 'IPOyear', 'Summary Quote'])
#nasdaq_sectors = nasdaq_sectors.rename(columns={"Symbol": "symbol", "Sector": "sector", "Industry":"industry"})
#Feel free to uncomment these two lines 
nasdaq_sectors

,symbol,sector,industry
0,AMSWA,Technology,Computer Software: Prepackaged Software
1,JASNW,Consumer Durables,Miscellaneous manufacturing industries
2,MU,Technology,Semiconductors
3,ICBK,Finance,Major Banks
4,DTEA,Consumer Non-Durables,Food Chains
...,...,...,...
3189,JXSB,Finance,Savings Institutions
3190,KVHI,Technology,Radio And Television Broadcasting And Communic...
3191,CPST,Energy,Industrial Machinery/Components
3192,CBSH,Finance,Major Banks
3193,ENG,Consumer Services,Military/Government/Technical

In [19]:
merged_data = pd.merge(nasdaq_sectors, stock_prices, on="symbol")
merged_data

,symbol,sector,industry,date,open,high,low,close,close_adjusted,volume,split_coefficient
0,AMSWA,Technology,Computer Software: Prepackaged Software,2004-04-01,6.6400,7.6000,6.6400,7.4700,3.7886,136400,1.0
1,AMSWA,Technology,Computer Software: Prepackaged Software,2015-03-24,10.2200,10.5400,10.0600,10.2600,9.1404,255045,1.0
2,AMSWA,Technology,Computer Software: Prepackaged Software,2006-04-19,7.4000,7.4100,7.2870,7.4100,4.1291,80300,1.0
3,AMSWA,Technology,Computer Software: Prepackaged Software,2014-08-08,9.1700,9.3400,9.1700,9.2900,8.0998,28900,1.0
4,AMSWA,Technology,Computer Software: Prepackaged Software,2010-03-16,5.9200,5.9600,5.7500,5.8800,4.0623,34900,1.0
...,...,...,...,...,...,...,...,...,...,...,...
10164997,ENG,Consumer Services,Military/Government/Technical,2020-11-03,0.8173,0.8400,0.7975,0.8305,0.8305,151928,1.0
10164998,ENG,Consumer Services,Military/Government/Technical,2020-11-11,0.8880,0.8880,0.8500,0.8760,0.8760,426193,1.0
10164999,ENG,Consumer Services,Military/Government/Technical,2020-11-04,0.8354,0.8600,0.8098,0.8098,0.8098,168565,1.0
10165000,ENG,Consumer Services,Military/Government/Technical,2020-11-13,0.8611,0.8799,0.8450,0.8526,0.8526,257584,1.0
10165001,ENG,Consumer Services,Military/Government/Technical,2020-11-10,0.8100,0.8998,0.7800,0.8620,0.8620,1345131,1.0

In [20]:
gross_output = pd.read_csv('gross_output.csv', skiprows=5, skipfooter=6, index_col=1)

<ipython-input-20-1344cb4e45ca>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  gross_output = pd.read_csv('gross_output.csv', skiprows=5, skipfooter=6, index_col=1)

In [21]:
gross_output

,Line,Q1,Q2,Q3,Q4,Q1.1,Q2.1,Q3.1,Q4.1,Q1.2,Q2.2
All industries,1.0,35838.6,36453.0,36916.7,37205.3,37377.9,37709.1,37991.1,38189.9,37826.8,34260.0
Private industries,2.0,31958.1,32523.1,32940.9,33195.7,33349.6,33632.4,33887.0,34052.5,33685.4,30215.1
"Agriculture, forestry, fishing, and hunting",3.0,457.1,460.9,449.9,454.8,447.0,448.4,453.0,461.3,467.7,416.6
Farms,4.0,401.1,405.0,395.8,400.9,392.3,394.1,399.1,405.9,413.1,367.9
"Forestry, fishing, and related activities",5.0,56.0,55.9,54.1,53.8,54.6,54.2,53.9,55.4,54.6,48.7
...,...,...,...,...,...,...,...,...,...,...,...
General government,96.0,2360.1,2388.0,2417.1,2437.2,2440.6,2463.4,2479.0,2497.9,2499.9,2380.9
Government enterprises,97.0,354.8,358.2,360.9,364.5,366.8,371.4,373.5,375.1,372.8,346.0
Addenda:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Private goods-producing industries1,98.0,8721.7,8892.3,9029.4,9031.1,8989.1,9010.3,8966.9,8960.0,8869.9,7789.0
Private services-producing industries2,99.0,23236.4,23630.8,23911.5,24164.6,24360.5,24622.1,24920.1,25092.4,24815.5,22426.1

In [22]:
gross_output = gross_output.drop('Line', axis=1)
gross_output.columns = ['2018 Q1', '2018 Q2', '2018 Q3', '2018 Q4', '2019 Q1', '2019 Q2', '2019 Q3', '2019 Q4', '2020 Q1', '2020 Q2']

gross_output = gross_output.dropna()
gross_output
gross_output_2020 = gross_output.groupby(gross_output.index)[['2020 Q1', '2020 Q2']].mean()
gross_output_2020

                                                 2020 Q1  2020 Q2
                Housing                           2406.3   2427.1
                Other real estate                 1472.2   1386.1
            Accommodation                          251.5     98.9
            Administrative and support services   1065.9    954.4
            Ambulatory health care services       1144.1    924.7
...                                                  ...      ...
    Transportation and warehousing                1315.4    987.2
    Utilities                                      481.2    478.4
    Wholesale trade                               2074.6   1810.9
Government                                        4141.4   4044.9
Private industries                               33685.4  30215.1

[97 rows x 2 columns]

In [31]:

x=0
result = [] 
for value in gross_output_2020["2020 Q1"]: 
    quarter2 = gross_output_2020.iloc[x,1]
    percent_change = (((quarter2/value)*100)-100)
    result.append(percent_change) 
    x= x+1
       
gross_output_2020["Result"] = result    
print(gross_output_2020)

                                                 2020 Q1  2020 Q2     Result
                Housing                           2406.3   2427.1   0.864398
                Other real estate                 1472.2   1386.1  -5.848390
            Accommodation                          251.5     98.9 -60.675944
            Administrative and support services   1065.9    954.4 -10.460644
            Ambulatory health care services       1144.1    924.7 -19.176645
...                                                  ...      ...        ...
    Transportation and warehousing                1315.4    987.2 -24.950585
    Utilities                                      481.2    478.4  -0.581879
    Wholesale trade                               2074.6   1810.9 -12.710884
Government                                        4141.4   4044.9  -2.330130
Private industries                               33685.4  30215.1 -10.302089

[97 rows x 3 columns]

In [33]:
earnings_latest = pd.read_csv('earnings_latest.csv')

earnings_latest = earnings_latest.dropna()
earnings_latest

       symbol        date      qtr  eps_est   eps release_time
14          A  2012-11-19  10/2012    0.800  0.84         post
15          A  2013-02-14  01/2013    0.660  0.63         post
16          A  2013-05-14  04/2013    0.670  0.77         post
17          A  2013-08-14  07/2013    0.620  0.68         post
18          A  2013-11-14  10/2013    0.760  0.81         post
...       ...         ...      ...      ...   ...          ...
160655   ZYXI  2019-10-29       Q3    0.057  0.06         post
160656   ZYXI  2020-02-27       Q4    0.077  0.09         post
160657   ZYXI  2020-04-28       Q1    0.063  0.09         post
160658   ZYXI  2020-07-28       Q2    0.086  0.09         post
160659   ZYXI  2020-10-27       Q3    0.053  0.04         post

[77282 rows x 6 columns]

In [36]:
dividends_latest = pd.read_csv('dividends_latest.csv')

dividends_latest = dividends_latest.dropna()
dividends_latest

       symbol        date  dividend
0        MSFT  2016-11-15    0.3900
1        MSFT  2011-05-17    0.1600
2        MSFT  2008-05-13    0.1100
3        MSFT  2011-02-15    0.1600
4        MSFT  2012-02-14    0.2000
...       ...         ...       ...
250144   EBTC  2020-11-09    0.1750
250145   EFAS  2020-11-04    0.0525
250146   EFBI  2020-11-12    0.0500
250147    CDL  2020-11-12    0.1111
250148   FANG  2020-11-10    0.3750

[250149 rows x 3 columns]

In [ ]:
dividends_stocks = pd.merge(dividends_latest, stock_prices, on='symbol', how='inner')
dividends_stocks_2020 = dividends_stocks[dividends_stocks['date_x'].str.contains('2020')]
del dividends_stocks_2020['date_y']
dividends_stocks_2020 = dividends_stocks_2020.rename({'date_x': 'date'}, axis=1)
dividends_stocks_2020

In [ ]:
dividends_stocks_2020

In [40]:

earnings_stocks = pd.merge(earnings_latest, stock_prices, on='symbol', how='inner')
earnings_stocks_2020 = earnings_stocks[earnings_stocks['date_x'].str.contains('2020')]
del earnings_stocks_2020['date_y']
earnings_stocks_2020 = earnings_stocks_2020.rename({'date_x': 'date'}, axis=1)
earnings_stocks_2020

MemoryError: Unable to allocate 359. MiB for an array with shape (2, 23528435) and data type object